  /* Style for the search input */
  .search-input {    
    padding: 10px 12px;  
    width: 300px;
    
  }
  
  /* Style for the search button */
  .search-button {
    background-color: #f8f9fa;
    border: none;
    padding: 10px 20px;    
    transition: background-color 0.3s ease-in-out;
  }