.nav-style {        
    padding: 10px;
    text-align: left;
  }

  .header {    
    padding: 10px;
    text-align: left;
  }

  .footer {        
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .content {
    flex: 1; /* This makes the content div expand to fill the available space */
    padding: 20px;    
  }